<h1>Word Count Results</h1>

<dl>
    <dt>
        Text
    </dt>
    <dd>
        <%= @text %>
    </dd>
    <dt>
        Character Count (with spaces)
    </dt>
    <dd>
        <%= @character_count_with_spaces %>
    </dd>
    <dt>
        Character Count (without spaces)
    </dt>
    <dd>
        <%= @character_count_without_spaces %>
    </dd>
    <dt>
        Occurrences of <%= @special_word %> 
    </dt>
    <dd>
        <%= @occurrences %>
    </dd>
</dl>     

<a href = "/word/new">
    Process more text
</a>